
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-weight: 400;
    height: 100vh;
    color: #333;
    /* background: linear-gradient(to top left, #753682 0%, #bf2e34 100%); */
    background: rgb(2, 0, 36);
    background: 
    linear-gradient(
      90deg,
      rgb(248, 168, 48) 0%,
      rgb(245, 248, 84) 59%,
      rgb(224, 250, 152) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* main */
  main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background: rgba(236, 51, 45, 0.342);
    backdrop-filter: blur(200);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-right: 9px;
    overflow: hidden;
    display: flex;
    border-radius: 5px;
  }
  .player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
  }
  
  .name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    font-weight: 300px;
    margin-bottom: 1rem;
  }
  
  .score {
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
  }
  
  .player_active {
    background: rgba(255, 255, 255, 0.4);
  }
  
  .player_active .name {
    font-weight: 700;
  }
  
  .player_active .score {
    font-weight: 400;
  }
  
  .player_active .current {
    opacity: 1;
  }
  
  .current {
    background: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
  }
  
  .current_label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
  }
  
  .current_score {
    font-size: 3.5rem;
  }



.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #faf7f7;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    padding: 10px;
  }


  .btn_new {
    top: 4rem;
    background-color: rgb(241, 144, 131);
  }
  
  .btn_play {
    top: 39.3rem;
    background-color: rgb(194, 123, 56) ;
  }
  
  .btn_save {
    top: 46.1rem;
    background-color: rgb(179, 94, 14);
  }

  .btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  
  .btn:focus {
    outline: none;
  }
  img{
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }